<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Getting Cozy!{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<style>
    body {
        background-color: lavenderblush;
        font-family: Helvetica, sans-serif;
    }
</style>
<body>
    <header>
        <h1> {% block header %} Getting Cozy! {% endblock %}</h1>
    </header>

    {% block content %} {% endblock %}
        <footer>
        </footer>

</body>
</html>



