<!DOCTYPE html>
<html lang="en">




<body>

{% extends 'base.html' %}

{% block content %}
    <form method = "POST" action ="/">
      <label for= "city_name" >Select a city: </label>
        <select name = "city_name" id = "city_name">
            <option value="New York" >New York</option>
            <option value = "Los Angeles" >Los Angeles</option>
            <option value = "Miami">Miami </option>
            <option value = "Seattle">Seattle </option>
        </select>
      <button type="submit"> Get Recommendations</button>
    </form>

    {% if weather %}
        <h3>Weather: {{weather}}</h3>
    {% else %}
        <h3> Default weather: Sunny</h3>
    {% endif %}

    <h3>Recommended movies:</h3>

        <div class = "movie-grid">
            {% for movie in movies %}
                <div class = "movie-item">
                    {% if movie.Poster %}
                        <img src="{{movie.Poster}}" alt= "Poster for {{movie.Title}}">
                    {% else %}
                        <p>Image not available. </p>
                    {% endif %}
                    <p>{{movie.Title}} </p>
                </div>
            {% endfor %}
        </div>



{% if error %}
    <p> error: {{error}}</p>
{% endif %}

{% endblock %}


</body>
</html>


