<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>personalized movie recommendations</title>
</head>
<body>

{% if movies %}
    <ul>
        {% for movie in movies %}
            <li>
                {{movie.Title}}
                {% if movie.Poster %}
                    <br><img src = "{{movie.Poster}}">
                {% else %}
                    <p>No image available</p>
                {% endif %}
                <br>
                <em>{{movie.Genre}}</em>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p> no movies</p>
{% endif %}

{% if error %}
    <p> error: {{error}}</p>
{% endif %}

</body>
</html>

